<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zapp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/appointment.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Zapp.styles.css" asp-append-version="true" />
</head>
<body class="m-0">
    <div class="container-fluid d-flex flex-column justify-content-between background">
        <main role="main" class="pb-3">
            <div class="row d-flex justify-content-start">
                <div class="col-md-4">
                    <a class="opac" asp-controller="Home" asp-action="Index">
                        <img class="zapp w-50" src="~/Logo/zapp-logo (3).png" alt="zapp-logo" />
                    </a>
                </div>
            </div>
            @RenderBody()
            <div class="row d-flex justify-content-end">
                <div class="col-md-4">
                    <a class="opac" asp-controller="Home" asp-action="Index">
                        <img class="zapp w-100" src="~/Logo/zapp-logo (5).png" alt="zapp-logo" />
                    </a>
                </div>
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>