@model Zapp.Models.TaskItem

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Toevoegen taak";
    ViewData["info"] = "Toevoegen Taak";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div class="container">
        <h3 class="py-3">Nieuwe Taak</h3>
        <hr />
        <form asp-action="Create">
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Taak</label>
                        <input asp-for="Name" class="form-control" placeholder="Taak invoeren" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-end">
                <div class="form-group w-auto">
                    <input type="submit" value="Toevoegen" class="btn btn-primary btn-action" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
