@model Zapp.Models.TaskItem

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Verwijderen taak";
    ViewData["info"] = "Verwijderen Taak";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div class="container>">
        <h3 class="py-3">Taak Verwijderen</h3>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                <label>Taak</label>
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
        <div class="row d-flex justify-content-end">
            <div class="form-group w-auto">
                <form class="py-2" asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Verwijderen" class="btn btn-danger btn-action" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>
