@model IEnumerable<Zapp.Models.TaskItem>

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Beheer taken";
    ViewData["info"] = "Beheer Taken";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3 class="py-3">Beheer Taken</h3>
    <table class="table">
        <thead>
            <tr id="header-row">
                <th>
                    <span>#</span>
                </th>
                <th>
                    <span>Taak</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1; }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>
                        <a class="t-d-n" asp-action="Delete" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
    <div class="py-5 f-r">
        <button id="create-btn"><a asp-action="Create">Taak Toevoegen</a></button>
    </div>
</body>
</html>
