@model Zapp.Models.Employee

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Bijwerken medewerker";
    ViewData["info"] = "Bijwerken Medewerker";
    ViewData["info_2"] = Model.Name;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div class="container">
        <h3>Medewerker Bijwerken</h3>
        <hr />
        <form id="employee-edit-form" asp-action="Edit">
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Naam</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label">Gebruikersnaam</label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-end">
                <div class="form-group w-auto">
                    <input type="submit" value="Verwijderen" class="btn btn-danger btn-action" onclick="aspDelete('employee-edit-form')" />
                    <input type="submit" value="Opslaan" class="btn btn-primary btn-action" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
