@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

<div class="container h-vh d-flex justify-content-center align-items-center">
    <img src="~/Logo/zapp-banner.png" />
</div>
