@page
@model ForgotPasswordModel
@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewData["Title"] = "Je wachtwoord vergeten?";
}
<div class="row d-flex justify-content-center p-custom mb-0">
    <div class="col-md-4 w-6">
        <h1 class="text-light">@ViewData["Title"]</h1>
        <h2 class="text-light">Voer uw e-mailadres in.</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Wachtwoord Herstellen</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
