@page
@model LoginModel

@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewData["Title"] = "Log in";
}

<div class="row d-flex justify-content-center p-custom mb-0">
    <div class="col-md-4 w-6">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Gebruikersnaam</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Wachtwoord</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="btn-container d-flex flex-row justify-content-between">
                    <button class="btn btn-lg btn-primary">
                        <a style="color: white; text-decoration: none;" id="forgot-password" asp-page="./ForgotPassword">Vergeten</a>
                    </button>
                    <button id="login-submit" type="submit" class="btn btn-lg btn-primary">Login</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
