@model Zapp.Models.AppointmentViewModel

@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h4>Nieuwe Afspraak</h4>
    <hr />
    <form asp-action="Create">
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <span asp-validation-for="Appointment.Scheduled" class="text-danger"></span>
                    <input type="datetime-local" asp-for="Appointment.Scheduled" class="form-control" />
                </div>
                <div class="form-group">
                    <span asp-validation-for="Appointment.CustomerId" class="text-danger"></span>
                    <select asp-for="Appointment.CustomerId" class="form-control" asp-items="Model.AllCustomersListItems">
                        <option value="" disabled selected>Selecteer Klant</option>
                    </select>
                </div>
                <div class="form-group">
                    <span asp-validation-for="Appointment.EmployeeId" class="text-danger"></span>
                    <select asp-for="Appointment.EmployeeId" class="form-control" asp-items="Model.AllEmployeesListItems">
                        <option value="" disabled selected>Selecteer Medewerker</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <datalist id="task-list">
                    @foreach (var name in Model.AllTaskNames)
                    {
                        <option value="@name"></option>
                    }
                </datalist>
                <span asp-validation-for="AppointmentTasks" class="text-danger"></span>
                <table class="table" id="appointment-table">
                    <thead>
                        <tr id="header-row">
                            <th>
                                <span>#</span>
                            </th>
                            <th>
                                <span>Taak</span>
                            </th>
                            <th>
                                <span>Additionele Informatie</span>
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.AppointmentTasks.Count(); i++)
                        {
                            <tr>
                                <td class="index-cell">
                                    <span id="row-index">@(i + 1)</span>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input id="task-names" list="task-list" name="AppointmentTasks[@i].Task.Name" asp-for="AppointmentTasks[i].Task.Name" class="form-control" placeholder="Zoek taak" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input id="task-info" name="AppointmentTasks[@i].AdditionalInfo" asp-for="AppointmentTasks[i].AdditionalInfo" type="text" class="form-control" />
                                    </div>
                                </td>
                                <td></td>
                                <td class="center-cell">
                                @if (i < Model.AppointmentTasks.Count() - 1)
                                {
                                    <button class="" id="delete-task" onclick="deleteTask(@i)"><i class="fa fa-trash-o btn-icon"></i></button>
                                }
                                @if (i == Model.AppointmentTasks.Count() - 1)
                                {
                                    <button class="" id="add-new-task-btn" onclick="addNewTask()"><i class="fa fa-plus btn-icon"></i></button>
                                }
                                    <input id="delete-task" type="hidden" asp-for="AppointmentTasks[i].IsDeleted" name="AppointmentTasks[@i].IsDeleted" value="False" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>
</body>
</html>
