@model Zapp.Models.AppointmentViewModel

@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h4>Nieuwe Afspraak</h4>
    <hr />
    <form asp-action="Create">
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="Appointment.Scheduled" class="control-label">Selecteer Datum en Tijd</label>*@
                    <input asp-for="Appointment.Scheduled" class="form-control" />
                    <span asp-validation-for="Appointment.Scheduled" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Appointment.CustomerId" class="control-label">Selecteer Klant</label>*@
                    <select asp-for="Appointment.CustomerId" class="form-control" asp-items="Model.AllCustomersListItems">
                        <option value="" disabled selected>Selecteer Klant</option>
                    </select>
                </div>
                <div class="form-group">
                    @*<label asp-for="Appointment.EmployeeId" class="control-label">Selecteer Medewerker</label>*@
                    <select asp-for="Appointment.EmployeeId" class="form-control" asp-items="Model.AllEmployeesListItems">
                        <option value="" disabled selected>Selecteer Medewerker</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <datalist id="task-list">
                    @foreach (var name in Model.AllTaskNames)
                    {
                        <option value="@name"></option>
                    }
                </datalist>
                <span asp-validation-for="AppointmentTasks" class="text-danger"></span>
                <table class="table" id="appointment-table">
                    <thead>
                        <tr>
                            <th>
                                <span>#</span>
                            </th>
                            <th>
                                <span>Taak</span>
                            </th>
                            <th>
                                <span>Additionele Informatie</span>
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = -1; }
                        @foreach (var task in Model.AppointmentTasks)
                        {
                            i++;
                            <tr>
                                <td>
                                    <span id="row-index">@(i+1)</span>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input id="task-names" list="task-list" name="AppointmentTasks[@i].Task.Name" asp-for="@task.Task.Name" class="form-control" placeholder="Zoek taak" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input id="task-info" name="AppointmentTasks[@i].AdditionalInfo" asp-for="@task.AdditionalInfo" type="text" class="form-control" />
                                    </div>
                                </td>
                                <td></td>
                                <td><button id="addRow" onclick="addNewTask()">Add</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
