@model Zapp.Models.Appointment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Scheduled" class="control-label"></label>
                <input asp-for="Scheduled" class="form-control" />
                <span asp-validation-for="Scheduled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedIn" class="control-label"></label>
                <input asp-for="CheckedIn" class="form-control" />
                <span asp-validation-for="CheckedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedOut" class="control-label"></label>
                <input asp-for="CheckedOut" class="form-control" />
                <span asp-validation-for="CheckedOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
