@model IEnumerable<Zapp.Models.Appointment>

@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <button id="create-app-btn"><a asp-action="Create">Afspraak Toevoegen</a></button>
</p>
<table class="table">
    <thead>
        <tr id="header-row">
            <th>
                <span>Datum & Tijd</span>
            </th>
            <th>
                <span>Klant</span>
            </th>
            <th>
                <span>Medewerker</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Scheduled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
