.table {
    width: 100%;
}

.table table {
    border-collapse: collapse;
    width: 100%;
}

.table th, td {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 8px;
    text-align: left;
}

.table th:nth-child(1), td:nth-child(1) {
    width: 10%;
}

.table th:nth-child(2), td:nth-child(2) {
    width: 35%;
}

.table th:nth-child(3), td:nth-child(3) {
    width: 35%;
}

.table th:nth-child(4), td:nth-child(4) {
    width: 10%;
}

.table th:nth-child(4), td:nth-child(4) {
    width: 10%;
}

.table tr:hover {
    background-color: #f5f5f5;
}

.table select {
    width: 35%;
}

.form-group {
    padding: 8px;
}

.index-cell {
    vertical-align: middle;
}

.center-cell {
    vertical-align: middle;
    text-align: center;
}

#header-row:hover {
    background-color: transparent;
}

#disabled-row, #disabled-field {
    color: red;
    text-decoration: line-through;
}

#add-new-task-btn {
    background-color: #0158a4;
}

#delete-task {
    background-color: red;
}

.btn-icon {
    font-size: 24px;
    color: white;
    vertical-align: middle;
}

.table button {
    width: 48px;
}

#create-app-btn {
    width: 300px;
    background-color: #005fab;
    border-radius: 25px;
    height: 50px;
}

#create-app-btn a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.btn-action {
    width: 250px;
    border-radius: 20px;
}