.table tr:hover {
    background-color: #f5f5f5;
}

.table select {
    width: 35%;
}

.form-group {
    padding: 8px;
}

.index-cell {
    vertical-align: middle;
}

.center-cell {
    vertical-align: middle;
    text-align: center;
}

#disabled-row, #disabled-field {
    color: red;
    text-decoration: line-through;
}

#add-new-task-btn {
    background-color: #0158a4;
}

#delete-task {
    background-color: red;
}

.btn-icon {
    font-size: 24px;
    color: white;
    vertical-align: middle;
}

.table button {
    width: 48px;
}

.card {
    max-width: 300px;
}

.form-group {
    width: 250px;
    padding-left: 0;
}

.form-group select, .form-group select:disabled {
    background-color: #0158a4;
    color: #ffffff;
}